$dark-gray: #2a2b2a;
$light-green: rgba(139, 196, 95, 0.9);
$dark-green: rgba(93, 161, 69, 0.9);
$pink-color: #ec4899;
$light-blue: #5274ab;
$dark-blue: #4a7ac8;
$light-gray: #f3f4f6;

$responsive-breakpoint: 700px;
