@import 'colors';

.footerWrapper {
  padding: 1rem 5rem;
  background-color: $light-gray;
}

.repoLink {
  color: inherit;
  font-size: 20px;

  a {
    color: inherit;
    font-weight: bold;
  }
}

@media (max-width: $responsive-breakpoint) {
  .footerWrapper {
    padding: 1rem;
  }

  .col1 {
    max-width: 450px;
  }
}
