@import 'colors';

.heroHeading {
  color: $dark-gray;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 30px !important;
  font-weight: normal;

  span {
    font-weight: bold;
    color: $light-green;
  }
}

.flexCol1 {
  max-width: 600px;
}

.flexCol2 {
  max-width: 450px;

  img {
    width: 100%;
  }
}

.para {
  color: $dark-gray;
  margin-bottom: 30px;
  max-width: 500px;
}

@media (max-width: $responsive-breakpoint) {
  .flexCol1 {
    margin-bottom: 50px;
    max-width: 450px;
  }

  .flexCol2 {
    img {
      width: 95%;
    }
  }

  .heroHeading {
    font-size: 40px;
  }
}
