@import 'colors';

.heroHeading {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 30px !important;
  font-weight: normal;
  font-family: 'Sora', sans-serif;
  font-weight: 900;

  span {
    background: linear-gradient(to right, $orangy, $pinky);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.flexCol1 {
  max-width: 600px;
}

.flexCol2 {
  max-width: 450px;

  img {
    width: 100%;
  }
}

.para {
  margin-bottom: 30px;
  max-width: 500px;
}

@media (max-width: $responsive-breakpoint) {
  .flexCol1 {
    margin-bottom: 100px;
    width: 40%;
  }

  .flexCol2 {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .heroHeading {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .flexCol1 {
    max-width: 30%;
  }
}
