.modeContainer {
  color: #ffff;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  font-size: 30px;
  aspect-ratio: 1;
  background-color: #ffbd33;
  text-align: center;
}

.hide {
  opacity: 0 !important;
  width: 0;
  height: 0;
}
