@import 'colors';

.flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.button {
  outline: none;
  border: 2px solid $orangy;
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: background-color 0.2s linear;
  color: inherit !important;
  justify-content: space-around;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  background: transparent;

  &:hover {
    transform: translateY(-2px);
  }
}

.btnPrimary {
  border-color: $orangy;

  &:hover {
    background-color: $orangy;
  }
}

.btnSecondary {
  border-color: $pinky;

  &:hover {
    background-color: $pinky;
  }
}

.heading {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
}

.heading::before {
  background-color: $pinky;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 5px;
  width: 50px;
  margin-bottom: 10px;
}

@media (max-width: $responsive-breakpoint) {
  .flex {
    flex-direction: column;
  }
}
