@import 'colors';

.col1 {
  max-width: 600px;
}

.col2 {
  max-width: 400px;

  img {
    width: 175%;
    filter: saturate(1);
    transform: translateX(-200px) translateY(-100px);
  }
}

.wrapper {
  height: 400px;
}

@media (max-width: $responsive-breakpoint) {
  .col2 {
    img {
      display: none;
    }
  }

  .wrapper {
    height: 400px;
  }
}

@media (max-width: 1100px) {
  .col2 {
    img {
      display: none;
    }
  }
}
